<html>

<head>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">
    </script>
    <script src="/assets/todolist.js"></script>
</head>

<body>
    <nav>

        <div class="nav-wrapper indigo darken-3">
            <div class="col s12">
                <a href="#" class="brand-logo center">ToDo</a>
            </div>
        </div>
    </nav>

    <div id="todotable">
        <div class="row">
            <form class="col s12 offset-s1" action="">
                <div class="row">
                    <div class="input-field col s9">
                        <input id="todoInput" type="text" class="validate">
                        <label for="todoInput">Add TODO</label>
                    </div>
                    <div class="input-field col s3 ">
                        <a id="bAddToDo" class="waves-effect waves-light btn col s6 orange darken-3">Add</a>
                    </div>
                </div>

            </form>
        </div>
        <!-- todo list -->
        <div class="row">
            <div class="col s9 offset-s1">
                <ul class="collection">
                    <% for(var i=0; i<  todos.length; i++){ %>
                        <li class="collection-item">
                            <%= todos[i].item%>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>
<html>